<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <title>Skriva</title>
</head>
<body>
  <header>
    <div class="nav">
      <h1>Welcome to Skriva</h1>
      <div>
        <a href="/">Home</a>
        <a href="/create">Write Blog</a>
      </div>
    </div>
  </header>
